@page
@model UniClub.Razor.Pages.ClubPeriods.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClubPeriod</h4>
<hr />
@if(!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-warning" role="alert">
      @Model.Message
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClubPeriod.Id" />
            <input type="hidden" asp-for="ClubPeriod.ClubId" />
            <div class="form-group">
                <label asp-for="ClubPeriod.StartDate" class="control-label"></label>
                <input type="date" asp-for="ClubPeriod.StartDate" class="form-control" />
                <span asp-validation-for="ClubPeriod.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubPeriod.EndDate" class="control-label"></label>
                <input type="date" asp-for="ClubPeriod.EndDate" class="form-control" />
                <span asp-validation-for="ClubPeriod.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-clubid="@Model.ClubPeriod.ClubId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
